*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Perpetua", serif;
    text-align: justify;
    background-color: transparent;
}
h1{
    font-weight: bolder;
}
body{
    background-color: white;
    width: 100%;
    height: 100%;
}
.contenedor{
    width: 55%;
    margin: auto;
    transition: 0.75s;
}

/*Formato del heder paso 1*/
header{
    display: grid;
    grid-template-columns: 1fr 14% ;
    margin-top: 5%;
}
header h1{
    font-size: 3em;
}
.logo{
    height: 40px;
    width: 40px;
}
/*Formato de la bolsa de compra paso 1*/
header .bolsa{
    position: relative;
    text-align: right;
}
header .bolsa img{
    width: 40px;
}
header .bolsa span{
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 83%;
    padding: 3px 10px;
}
/*Formato de paltos disponibles para comprar*/
.lista_comida_disp{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5%; /*cambiar*/
    row-gap: 5%; /*cambiar*/
    margin-top: 5%; /*cambiar*/
}
/*Formato de cada plato*/
.elemento{
    text-align: center;
    background-color: #e9eeef;
    padding: 5%;
    box-shadow: 0 50px 50px #757676;
    letter-spacing: 1px;
    border-radius: 30px;
    height: auto;
}
.elemento img {
    aspect-ratio: 3/4;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}
.titulo{
    font-weight: 600;
    text-align: center;

}
.precio{
    margin: 2%;
    text-align: center;
}
.elemento button{
    background-color: #1c1f25;
    color: #dedede;
    width: 60%;
    border: none;
    text-align: center;
    margin: auto;
    height: 5%;
    font-size: 1em;
    border-radius: 30px;
    cursor: pointer;

}
.elemento button:hover{
    color:black;
    border: black solid 1px;
    background-color: white;
}
/*Formato de la cesta -> donde se muestarn los platos seleccionados*/
.carrito{
    position: fixed;
    top: 0;
    left: 100%;
    width: 35%;
    background-color: rgba(70, 68, 68, 0.52);
    height: 100vh;
    transition: 0.75s;
}
.active .carrito{
    left: 65%;
}
.active .contenedor{
    transform: translateX(-25%);
}
.carrito h1{
    color: #4d5a72;
    margin: 0;
    padding: 0 5%;
    height: 10%;
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    margin-top: 5%;
    text-align: left;
}
/*Formato de los botones que te permiten ver el total del pedido y de cerrar la cesta*/
.info_pedido{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.info_pedido button{
    background-color: #4d5a72;
    width: 100%;
    height: 100%;
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    border: none;
    color: white;

}
.info_pedido div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.info_pedido div:nth-child(2) { /*Esto elige el segundo hijo div, es como el enésimo hijo, el 2*/
    background-color: #2b3036;
    color: #fff;
}
/*Formato de los platos selecionados*/
.lista_comida_selec{
    margin: 5%;
}
.lista_comida_selec li{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    color: #fff;
    row-gap: 5%;
    margin-bottom: 20px;
    border: 1px #4d5a72 solid;
    padding: 2%;
}
.lista_comida_selec li div{
    display: grid;
    /*
    justify-content: center;
    align-items: center;
    */
    padding: 5%;
    place-content: center;
    align-content: center;
    font-weight: bold;
    text-align: left;
}
.lista_comida_selec li div:last-child{
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}
.lista_comida_selec li button{
    font-size: x-large;
    width: auto;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.lista_comida_selec .contador{
    margin: 0 10px;
}
/*Formato para poner diferentes menus*/
.diferentes_menus{display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.diferentes_menus button{
    text-align: center;
    font-size: 1.5em;
    border: 1px solid black;
}
/*Formato migas de pan*/
.migas_pan{
    display: flex;

}
.migas_pan a{
    text-decoration: none;
    color: black;
    font-size: 1.25em;

}
.migas_pan2{
    position: relative;
    left: 30%;
    margin-top: 1%;
    margin-bottom: 1%;

}
.migas_pan2 a{
    text-decoration: none;
    color: black;
}

/*Formato de la lista de platos del paso dos -> revison*/
.reserva{
    width: 65%;
    display: grid;
    place-content: center;
    list-style: none;
    margin: auto;
}
.reserva li {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    place-content: center;
    color: #000000;
    row-gap: 5%;


    border: 1px #4d5a72 solid;
    border-radius: 30px;
    padding: 2%;
    margin: auto;
    margin-bottom: 20px;

}
.reserva li div img{
    margin-left: 15%;
    right: 0;
    width: 70%;
    border-radius: 10px;

}
.reserva li div{
    display: grid;
    padding: 5%;
    place-content: center;
    align-content: center;
    font-weight: bold;
    text-align: center;
    font-size: 1.25em;
}
.compr h2{
    display: grid;
    place-content: center;
    right: 50%;
    font-size: 3em;
    text-align: center;

}
.precio_total{
    display: grid;
    place-content: center;
    font-weight: bold;

}
.botones_revison{
    padding-left: 30%;
    padding-right: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;


}
.botones_revison button{
    text-align: center;
    margin: 10%;
    height: auto;
    padding: 10%;
    border-radius: 30px;
    font-size: 1.5em;
    border: none;
    background-color: #2b3036;
    color: #fff;
}
.botones_revison button:nth-child(1){
    background-color: #4d5a72;
    color: #fff;
}


/*Formato del paso 3 de */
.espera_pedido{
    display: grid;
    place-content: center;
    margin: auto;
}
.contador_t{
    margin: auto;
    margin-top: 10%

}
.contador_t nav{
    display: grid;
    place-content: center;
    margin: 40% auto;

}
#timer {
    margin: auto;
    font-size: 5em;
}
.cargando{
    width: 50%;
    height: 7%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin: 50% auto;
}

/*Animación de granos de cafe*/
.granos_cafe{
    width: 5px;
    height: 5px;
    animation: salto .5s alternate infinite;
}
.granos_cafe img{
    width: 30px;
    height: 30px;
}
.granos_cafe:nth-child(2) {
    animation-delay: .18s;
}
.granos_cafe:nth-child(3) {
    animation-delay: .37s;
}
.posicion{
    position: fixed;
    top:0;
    width: 100vw;
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 3;

}
.posicion button{
    text-align: center;
    border: none;
    background-color:#4d5a72;
    color: white;
    font-size: 1.5em;
}
@keyframes salto {
    from {
        transform: scaleX(1.25);
    }
    to{
        transform:
                translateY(-50px) scaleX(1);
    }
}


@media screen and (min-width: 600px) and (max-width: 966px) {
    .contenedor{
        width: 65%; /*Esto hay que cambiarlo a porcentaje*/
    }
    header{
        margin-top: 10%;
    }

    .carrito h1{
        margin-top: 20%;
        color: #8a99b5;
    }
    .lista_comida_disp{
        grid-template-columns: repeat(2, 1fr);
    }
    .carrito{
        width: 40%;
    }
    .active .carrito{
        left: 60%;
    }
    .active .contenedor{
        transform: translateX(-25%);
    }

}


@media screen and (max-width: 600px){
    .carrito h1{
        margin-top: 10%;
        color: #8a99b5;
    }
    .contenedor{
        width: 85%;
    }
    .elemento{
        margin-bottom: 10%;
    }
    header{
        margin-top: 10%;

    }
    header h1{
        font-size: 2em;
    }

    .diferentes_menus button{
        font-size: 1em;
    }
    .lista_comida_disp{
        grid-template-columns: 1fr;
    }
    .carrito{
        width: 80%;
        background-color: rgb(70, 68, 68);
    }
    .active .carrito{
        left: 20%;
    }
    .active .contenedor{
        transform: translateX(0);
    }
    .reserva {
        width: 90%;
    }
    .compr header h2{
        font-size: 2em;
    }
    .botones_revison{
        gap: 5%;
    }
    .botones_revison button{
        height: 10vh;
        width: 15vh;
    }
    .lista_comida_selec{
        color: #8a99b5;
    }


}