* {
	overflow: hidden;
}

section {
	margin-top: 5vh;
	background-color: #E6CDBA;
}

section h1 {
	margin-top: 5vh;
	text-align: center;
	color: black;
	font-size: 2rem;
}

.galery_image {
	border-width: 1px;
	border-style: solid;
	border-color: black;
	width: 40vmin;
	height: 50vmin;
	object-fit: cover;
	object-position: center;
}

#galery_track {
	display: flex;
	gap: 4vmin;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(0%, -50%) 
}

#galery_arrow {
	position: absolute;
	top: 85%;
	left: 40%;
}

@media screen and (max-width: 768px) {
	#galery_arrow {
		left: 25%;
	}
}

@media screen and (max-width: 600px) {
	.galery_image {
		width: 60vmin;
		height: 70vmin;
	}
	
	#galery_track {
		transform: translate(0%, -45%);
	}
	
	#galery_arrow {
		left: 20%;
	}
	 
}
