.history h1 {
    margin-top: 5vh;
    text-align: center;
    color: black;
    font-size: 2rem;
}

.film_bg{
    position: relative;
    width: 100dvw;
}

.background-container {
    position: absolute;
    width: 100vw; /* or the width you want */
    height: 75vh; /* or the height you want */
    background-image: url("../media/historia/historia_base.png"); /* replace with your image path */
    background-size: contain ;
    background-position: center;

}
.iframe-container {
    position: absolute;
    top: 9.75%; /* adjust as necessary */
    left: 11.6%; /* adjust as necessary */
    width: 73.75vw; /* or the width you want */
    height: 59vh; /* or the height you want */
}
iframe {
    width: 50%;
    height: 100%;
    border: none; /* optional, removes the default border */

}