.history h1 {
    margin-top: 5vh;
    text-align: center;
    color: black;
    font-size: 2rem;
}

.film_bg{
    position: relative;
    width: 100dvw;
}

.background-container {
    position: absolute;
    width: 100vw; /* or the width you want */
    height: 75vh; /* or the height you want */
    background-image: url("../images/historia/historia_base.png"); /* replace with your image path */
    background-size: contain ;
    background-position: center;
    background-repeat: no-repeat;
}
.iframe-container {
    position: absolute;
    top: 9.75%; /* adjust as necessary */
    left: 11.6%; /* adjust as necessary */
    width: 73.75vw; /* or the width you want */
    height: 59vh; /* or the height you want */
}
iframe {
    width: 50%;
    height: 100%;
    border: none; /* optional, removes the default border */
}

#history_text{
    position: absolute;
    top: 25%; /* adjust as necessary */
    left: 53%; /* adjust as necessary */
    width: 34%; /* or the width you want */
    /* Center the text container */
    text-align: center;
}

#history_text p{
    font-size: 1em;
    background-color: #F7EDE5;
}

@media screen and (max-width: 768px) {
    .background-container{
        position: absolute;
        transform: rotate(-90deg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .iframe-container{
        transform: rotate(90deg);
        position: absolute;
        top: 5.8%; /* adjust as necessary */
        left: 23%; /* adjust as necessary */
    }

    iframe {
        width: 112%;
        height: 60%;
        border: none; /* optional, removes the default border */

    }

    #history_text{
        font-size: 0.7rem;
        position: absolute;
        top: 53.5%; /* adjust as necessary */
        left: 10%; /* adjust as necessary */
        width: 78%;
    }
}

@media screen and (max-width: 600px) {

}