*{
    overflow-x: hidden;
}

section {
    height: 100vh;
    width: 100vw;
}

.front_page{
    background-image: url("../media/landing/portada.jpg");
    background-size: cover;
    background-position: center;
}

.front_page h3{
    display: none;
}

.front_page nav{
    text-align: center;
    margin: 5vh auto;
    height: 6vh;
    width: 14vw;
}

.front_page button{
    background-color: #7E4D29;
    text-align: center;
    height: 100%;
    width: 100%;
    text-decoration: None;
    color: white;
    border: none;
    font-size: 1.2rem;
}

.front_page img{
    margin-top: 40vh;
    margin-left: 25vw;
    height: auto;
    width: 50vw;
}

.coffee{
    background-image: url("../media/landing/coffee_fondo.png");
    background-size: cover;
    background-position: center;
}

.beverages{
    background-color: #FFFBF8;
}

.delicatessen{
    background-image: url("../media/landing/delicatessen.jpg");
    background-size: cover;
    background-position: center;
}

.reposteria{
    background-image: url("../media/landing/donuts.jpg");
    background-size: cover;
    background-position: center;
}

.history{
    background-image: url("../media/landing/historia_fondo.png");
    background-size: cover;
    background-position: right;
}

.intro{
    background-color: #F6EDE6;
    border-radius: 3vh;
    height: auto;
    padding: 3vh;
    margin: 20vh auto 0 auto;
}

.intro h3{
    font-size: 2rem;
    text-align: center;
}

.intro p{
    font-size: 1.5rem;
    text-align: center;
    margin: 6vh;
}

.intro nav{
    background-color: #7E4D29;
    text-align: center;
    margin: 2vh auto 0 auto;
    height: 6vh;
    width: 50%;
    border-radius: 5vh;
}

.intro nav a{
    text-decoration: None;
    color: white;
    font-size: 1.5rem;
}

.intro button{
    background-color: #7E4D29;
    text-align: center;
    height: 100%;
    width: 100%;
    border-radius: 5vh;
    color: white;
    font-size: 1.5rem;
    border: none
}

.intro nav a{

}

.intro.bebidas{
    position: absolute;
    z-index: 1;
    height: auto;
    width: 40vw;
    margin-top: 20vh;
    margin-left: 30vw;
    box-shadow: 0 4px 4px rgb(170,170,170);
}

.intro.bebidas p{
    font-size: 1.5rem;
}

#batido1{
    position: absolute;
    z-index: 0;
    height: 50vh;
    width: 15vw;
    border-radius: 5vh;
    margin-left: 17vw;
    margin-top: 5vh;
    background-image: url("../media/landing/batido2.png");
    background-size: cover;
    border: black 1px solid;
}

#batido2{
    position: absolute;
    z-index: 0;
    height: 50vh;
    width: 18vw;
    border-radius: 5vh;
    margin-left: 65vw;
    margin-top: 40vh;
    background-image: url("../media/landing/batido_choco.jpg");
    background-size: cover;
    border: black 1px solid;
}

.cakes{
    background-color: #FFFBF8;
}

.intro.tartas{
    position: absolute;
    z-index: 1;
    height: 80vh;
    width: 40vw;
    margin-top: 5vh;
    margin-left: 15vw;
    border-radius: 50vh;
}

.intro.tartas h3{
    margin-top: 14vh;
}

#tarta{
    position: absolute;
    z-index: 0;
    height: 70vh;
    width: 35vw;
    border-radius: 50%;
    margin-left: 45vw;
    margin-top: 23vh;
    background-image: url("../media/landing/tarta_choco.png");
    background-size: cover;
}

.intro.historia{
    border-radius: 0;
    border: black solid 1px;
    transform: rotate(-10deg);
    height: auto;
    margin-left: 15vw;
    margin-top: 0;
    padding-bottom: 5vh;
    background-color: white;
    position: absolute;
}

.intro.historia img{
    height: auto;
    width: 90%;
    margin-top: 2.5vh;
    margin-left: 5%;
    border: black solid 1px;
}

.history h3{
    font-size: 2.5rem;
    left: 67vw;
    top: 40vh;
    position: relative;
}

.galery{
    background-color: #FFFBF8;
}

.siema{
    margin-top: 5vh;
    margin-left: 10vw;
    height: auto;
    width: 80vw;
}

.prev, .next{
    background-color: #7E4D29;
    color: white;
    font-size: 1.25rem;
    border: None;
    border-radius: 50%;
    height: 7vh;
    width: 7vh;
    margin-left: 10%;
    padding: 1%;
}

.next {
    margin-left: 73%;
}

.galery h3{
    font-size: 2.5rem;
    text-align: center;
}

.galery nav{
    background-color: #7E4D29;
    text-align: center;
    margin-left: 42vw;
    height: 6vh;
    width: 16vw;
    border-radius: 10px 10px 10px 10px;
}

.galery nav a{
    text-decoration: None;
    color: white;
    font-size: 1.5rem;
}

.contact{
    background-color: #FFFBF8;
    height: auto
}

.contact h3{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 5vh;
}

.contactos{
    margin-top: 13vh;
    margin-left: 15vw;
    display:inline-block;
}

.contactos p{
    display: inline;
    font-size: 1.2rem;
}

.contactos img{
    width: 1.5vw;
    height: auto;
    margin-top: 1vh;
}

.subscribe{
    display:inline-block;
    margin-left: 10vw;
    height: auto;
}

.subscribe input{
    background-color: #F2EAE3;
    font-size: 1.2rem;
    width: auto;
    height: 8vh;
    margin-top: 3vh;
    border: None;
    text-align: center;
    padding: 0 4vh 0 4vh;
    box-shadow: 0 4px 4px rgb(170,170,170);
}

.subscribe button{
    border: None;
    background-color: #E6CDBA;
    margin-top: 3vh;
    font-size: 1.1rem;
    height: 8vh;
    width: auto;
    padding: 0 5vh 0 5vh;
    box-shadow: 0 4px 4px rgb(170,170,170);
}

.subscribe label{
    font-size: 1.2rem;

}

footer{
    margin-top: 18vh;
    background-color: #7E4D29;
    height: auto;
}

footer img{
    width: auto;
    height: 4vh;
    padding-left: 5vw;
    margin-top: 5vh;
}

footer div a{
    display: block;
    font-size: 1.2rem;
    padding-bottom: 0.5vh;
}

footer a{
    color: white;
    text-decoration: none;
}

.cuadricula{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 30%;
}

@media screen and (max-width: 768px) {
    .front_page img{
        width: 80%;
        margin-top: 40vh;
        margin-left: 10%;
        margin-bottom: 5vh;
    }

    .front_page nav{
        width: 30%;
        padding-top: 0.5vh;
    }

    .intro{
        width: 80%;
        margin-top: 20vh;
        margin-bottom: 20vh;
    }

    .intro p{
        margin:2vh;
        font-size: 1.4rem;
    }

    .intro h3{
        font-size: 2rem;
    }

    .coffee{
        height: auto;
    }

    .beverages{
        background-image: url("../media/landing/batido_choco.jpg");
        background-size: cover;
        height: auto;
    }

    .intro.bebidas{
        width: 80%;
        margin: 20vh auto;
        position: static;
        height: auto;
    }

    #batido1, #batido2{
        display: none;
    }

    .reposteria{
        height: auto;
    }

    .delicatessen{
        height: auto;
    }

    .cakes{
        background-image: url("../media/landing/tarta_choco.png");
        background-size: cover;
        height: auto;
    }

    .intro.tartas{
        width: 90%;
        margin: 20vh auto;
        position: static;
        height: auto;
    }

    .intro.tartas h3{
        margin:5vh 0 2vh 0;
    }

    .intro.tartas p{
        font-size: 1.6rem;
    }

    .intro.tartas nav{
        margin-bottom:5vh;
    }

    #tarta{
        display: none
    }

    .history{
        height: auto;
    }

    .intro.historia{
        position: static;
        margin: 5vh auto;
    }

    .intro.historia img{
        height:auto
    }

    .history h3{
        position: static;
        text-align: center;
        margin: 0 auto;
    }

    .next{
        margin-left: 55%;
    }

    .galery{
        height: auto;
    }

    .galery nav{
        width: 40vw;
        height: auto;
        margin: 0 auto;
    }

    .contact{
        height: auto;
    }

    .contactos{
        text-align: center;
        margin-top: 3vh;
        margin-left: 8vw;
        display:inline-block;
        font-size: 1.5rem;
    }

    .contactos p{
        font-size: 1rem;
    }

    .contactos img{
        width: 5vw;
        height: auto;
        margin-top: 1vh;
    }

    .subscribe{
        margin-left: 10%;
        margin-top: 5%;
        height: auto;
        padding-bottom: 1vh;
    }

    .subscribe input{
        font-size: 1.2rem;
        width: auto;
        height: 8vh;
        margin-top: 2vh;
    }

    .subscribe button{
        text-align: center;
        padding: 2vh 5vw 2vh 5vw;
        margin-top: 2vh;
        font-size: 1.1rem;
        height: 8vh;
        width: auto;
    }

    footer{
        margin-top: 2vh;
        text-align: center;
        height:auto;
    }

    footer img{
        margin-bottom: 0;
        padding-left: 0;
        margin-top: 1vh;
    }

    footer div a{
        display: none;
    }

    footer div{
        margin-top: 0;
        margin-left: 0;
        padding-bottom: 0
    }

    .cuadricula{
        display: inline-block;
        margin-left: 0;
    }

    .navegador{
        display: initial;
        font-size: 1.2rem;
        text-align: center;
    }

    .nosotros{
        padding: 0;
    }

    .a_externo{
        padding: 0;
        font-size: 1.2rem;
        text-align: center;
        display: initial;
    }

}


@media screen and (max-width: 600px) {

    .front_page img{
        content: url("../media/logo/logo_movil.png");
        width: 80%;
        margin-top: 30vh;
        margin-left: 10%;
        margin-bottom: 5vh;
    }

    .front_page nav{
        width: 50%;
        padding-top: 0.5vh;
    }

    .intro{
        width: 80%;
    }

    .intro p{
        margin:2vh;
        font-size: 1.4rem;
    }

    .intro h3{
        font-size: 2rem;
    }

    .coffee{
        height: auto;
    }

    .intro.bebidas{
        width: 80%;
        margin: 10vh auto;
        position: static;
        height: auto;
    }

    #batido1, #batido2{
        display: none;
    }

    .reposteria{
        height: auto;
    }

    .delicatessen{
        height: auto;
    }

    .intro.tartas{
        width: 90%;
        margin: 20vh auto;
        position: static;
        height: 55vh;
    }

    .intro.tartas h3{
        margin:5vh;
    }

    .intro.tartas p{
        font-size: 1.6rem;
    }

    #tarta{
        display: none;
    }

    .history{
        height: auto;
    }

    .intro.historia{
        position: static;
        margin: 5vh auto;
        padding: 2vh
    }

    .intro.historia img{
        height:auto;
        width: 90%;
        margin: 1.5vh
    }

    .history h3{
        position: static;
        text-align: center;
    }

    .next{
        margin-left: 55%;
    }

    .galery{
        height: 90vh;
    }

    .galery nav{
        width: 40vw;
        height: auto;
        margin: 0 auto;
    }

    .contact{
        height: auto;
    }

    .contactos{
        text-align: initial;
        margin-top: 3vh;
        margin-left: 8vw;
        display:inline-block;
        font-size: 1.5rem;
    }

    .contactos p{
        font-size: 1rem;
    }

    .contactos img{
        width: 5vw;
        height: auto;
        margin-top: 1vh;
    }

    .subscribe{
        margin-left: 6vw;
        height: auto;
        padding-bottom: 1vh;
    }

    .subscribe input{
        font-size: 1.2rem;
        width: 90%;
        height: 8vh;
        margin-top: 2vh;
        margin-left: 0;
    }

    .subscribe button{
        padding: 2vh 5vw 2vh 5vw;
        margin-top: 2vh;
        font-size: 1.1rem;
        height: auto;
        width: 90%;
        margin-left: 0;
    }

    footer{
        margin-top: 2vh;
        text-align: center;
        height:auto;
    }

    footer img{
        margin-bottom: 0;
        padding-left: 0;
        margin-top: 1vh;
    }

    footer div a{
        display: none;
    }

    footer div{
        margin-top: 0;
        margin-left: 0;
    }

    .navegador{
        display: initial;
        font-size: 1.2rem;
        text-align: center;
    }

    .nosotros{
        padding: 0;
    }

    .a_externo{
        padding: 0;
        font-size: 1.2rem;
        text-align: center;
    }
}