/*Estilo del login*/
body {
	overflow-y: hidden;
}

section {
	height: 100vh;
}

.register_image {
	background-repeat: no-repeat;
	background-size: cover;
	aspect-ratio: 600/1065;
	margin-top: 5vh;
	height: 95vh;
	width: auto;
}

#login_image {
	background-image: url("../media/login.jpg");
	float: right;
}

#signup_image {
	background-image: url("../media/signup.jpg");
	float: left;
}

.register_text {
	float: left;
}

.register_text a {
	margin-top: 5vh;
}

.register_form {
	margin: auto;
	height: 50vh;
	margin-top: 25%;
	background-color: #F6EDE6;
	box-shadow: 0 4px 4px black;
	border-radius: 15px;
	display: grid;
	grid-template-rows: 1fr 2.25fr 0.65fr 0.65fr 1fr;
}

.register_form h2{
	text-align: center;
	margin-top: 5%; 
}

#register_form_login {
	display: grid;
	grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr;
}

#register_form_login label {
	width: 70%;
	margin: auto;
	font-size: 20px;
}

.register_form button {
	width: 60%;
	height: 5vh;
	margin: 1%;
	border-radius: 25px;
	background-color: #7E4D29;
	color: white;
	margin: auto;
	font-size: 20px;
}

#register_form_login input {
	width: 70%;
	margin: auto;
	margin-bottom: 5%;
	background-color: #F6EDE6;
	border: none;
	border-bottom: 2px solid black;
}

.register_form_subtext {
	font-size: 16px;
	margin: auto;
}


