/*Estilo del login*/
body {
	overflow-y: auto;
}

section {
	height: 100vh;
}

#log-in {
	display: block;
}

#sign-up {
	display: none;
}

#register_logged_in {
	display: none;
	margin-left: 25vw;
	margin-top: 30vh;
	height: auto;
	background-color: #F6EDE6;
	border-radius: 15px;
	box-shadow: 0 4px 4px black;
	grid-template-rows: 2fr 2fr 1.5fr;
}

#register_logged_in button {
	margin-bottom: 2.5%;
}

#login_image {
	background-image: url("../media/login.jpg");
	float: right;
}

#signup_image {
	background-image: url("../media/signup.jpg");
	float: left;
}

.register_image {
	background-repeat: no-repeat;
	background-size: cover;
	aspect-ratio: 600/1065;
	margin-top: 5vh;
	height: 95vh;
}

.register_text {
	float: left;
}

.register_form {
	margin-left: 25vw;
	margin-top: 20vh;
	background-color: #F6EDE6;
	box-shadow: 0 4px 4px black;
	border-radius: 15px;
	display: grid;
}

.register_form a {
	text-align: center;
	font-size: 0.75em;
}

p {
	text-align: center;
}

h2{
	text-align: center;
	margin-top: 5%;
}

label {
	width: 70%;
	margin: auto;
	font-size: 0.78em;
}

input {
	font-size: 0.9em;
	width: 70%;
	margin: auto;
	margin-bottom: 5%;
	background-color: #F6EDE6;
	border: none;
	border-bottom: 2px solid black;
}

button {
	width: 60%;
	height: 6vh;
	margin: 1%;
	border-radius: 25px;
	background-color: #7E4D29;
	color: white;
	margin: auto;
	font-size: 20px;
}

.register_form_subtext {
	font-size: 16px;
	margin: auto;
}

#register_form_login {
	height: 55vh;
	grid-template-rows: 0.1fr 1fr 2fr 0.7fr 0.7fr 0.6fr;
}

#register_form_login form {
	display: grid;
	grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr;
}

#register_form_signup {
	height: 60vh;
	grid-template-rows: 0.1fr 1.35fr 4fr 1fr 1fr;
}

#register_form_signup form {
	display: grid;
	grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr
}

#register_error_div {
	display: none;
	position: absolute;
	top: 30%;
	margin-left: 17vw;
	height: 30vh;
	width: 40vw;
	border-radius: 15px;
	color: white;
	background-color: #7E4D29;
	grid-template-rows: 2fr 2fr;
}

#register_error_div p {
	text-align: center;
	margin-top: 8%;
}

#register_error_div button {
	margin: auto;
	color: black;
	background-color: #F6EDE6;
	border: none;
}