/*Estilo del login*/
#login_image {
	background-image: url("../media/bebida1.jpg");
	background-repeat: "no-repeat";
	background-size: cover;
	aspect-ratio: 1;
	height: 95vh;
	margin-top: 5vh;
	float: right;
}

.register_text {
	float: left;
	display: grid;
}

.register_text a {
	margin-top: 5vh;
}

.register_form {
	margin: auto;
	height: 50vh;
	margin-top: 25%;
	background-color: #F6EDE6;
	box-shadow: 0 4px 4px black;
	border-radius: 15px;
}

.register_form h2{
	text-align: center
}

.register_form form > label {
	width: 50%;
}

.register_form form button {
	width: 60%;
	height: 5vh;
	margin: 1%;
	border-radius: 25px;
	background-color: #7E4D29;
	color: white
}

.register_form_subtext {
	font-size: 16px;
}
