/* Barra de progreso */
.progess_bar{
    height: 20vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: auto;
    margin-top: 6vh;
    place-content: center;
    border-radius: 15px;
}

.progess_bar_button{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 20%;
    margin-top: 2%;
    margin-bottom: 5%;
    text-decoration: underline;
}
.progess_bar button{
    background-color: transparent;
    border: none;
    font-size: 0.7em;
    text-align: center;
}
.progess_bar_line{
    position: absolute;
    height: 3%;
    background: #E6CDBA;
    border-radius: 30px;
    top: 15%;
    margin-left: 5%;
}
.progess_bar_line_ordenador{
    display: block;
    background: #7E4D29;
}
.progess_bar_line_tablet{
    display: none;
    background: #7E4D29;
}
.progess_bar_line_movil{
    display: none;
    background: #7E4D29;
}
.menu_top{
    height: 20vh;
}
.menu_button{
    height: 80vh;
}

.menu_choose{
    margin: auto;
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5%;
}
.menu_choose button{
    border-radius: 30px;
    height: 15vh;
    width: 15vh;
    border: none;
    font-size: 0.65em;
}

.menu_choose button img{
    height: 40%;
}

.menu_dish{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5vh;
    row-gap: 5vh;
    margin: 0.5vh auto;
}

/*Formato de cada plato*/
.elemento{
    text-align: center;
    background-color: #F6EDE6;
    padding: 5%;
    box-shadow: 0 10px 10px #757676;
    border-radius: 30px;
    height: auto;

}

.elem_img{
    float: left;
    width: 45%;
    aspect-ratio: 4/4;
    object-fit: cover;
    border-radius: 15px;
    display: grid;
    place-content: center;
}
.menu_elemt_right{
    float:right ;
    width: 50%;
    display: grid;
    grid-template-rows: 1.5fr 1fr 1fr;
    place-content: center;
}
.menu_elemt_right_2{
    float:right ;
    width: 50%;
    display: grid;
    grid-template-rows:auto 0.5fr 0.5fr 1fr 1fr ;
    place-content: center;
}

.titulo{
    font-weight: 600;
    font-size: 0.75em;
    text-align: center;
    padding: 1%;
    margin: auto;
}
.precio{
    font-size: 0.75em;
    text-align: center;
    margin: auto;
}

.alerg{
    margin: auto;
    font-size: 0.75em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.alerg img{
    margin-top: 10%;
    height: 70%;
}
.menu_menos{
    background-color: transparent;
    color: black;
    border: #E6CDBA solid 2px;
    border-radius:  50px;
    font-size: 0.75em;
    height: 30px;
    width: 30px;
}
.menu_mas{
    background-color: transparent;
    color: black;
    border:  #E6CDBA solid 2px;
    border-radius:50px;
    font-size: 0.75em;
    height: 30px;
    width: 30px;
}
.menu_cantidad{
    font-size: 0.75em;
    margin: auto;
}


.menu_selcion_cantidad{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: auto;
}
.menu_car{
    background-color: transparent;
    border: none;
}
.cesta{
    position: absolute;
    top: 10%;
    right: 5%;
    width: 10%;
    height: 10%;
}
.menu_cuantity{
    position: absolute;
    top: 10%;
    right: 7%;
    width: 25px;
    height: 25px;
    background-color: #7E4D29;
    border-radius: 50px;
    color: white;
    text-align: center;
    z-index: 1;
}
.menu_cart_open{
    position: absolute;
    z-index: 1;
    width: 30%;
    height: 80%;
    background-color: #F6EDE6;
    top: 10%;
    right: 5%;
    border-radius: 20px;
}
.menu_cart_open ul{
    height: 60%;
}
.menu_cerrar_compra{
    position: absolute;
    top: 5%;
    right: 8%;
}
.menu_button_chek{
    position: absolute;
    left: 30%;
    bottom: 10%;
    background-color: #7E4D29;
    color: white;
    border: none;
    border-radius: 10px;
    padding-left: 5%;
    padding-right: 5%;
}
.menu_Total{
    position: absolute;
    left: 37%;
    bottom: 20%;
}
.menu_list_foos_select li {
    display: grid;
    grid-template-columns: 2fr 1fr  2fr;
    margin: 2%;
    background-color: #FFFBF8 ;
    border-radius: 15px;
    gap: 5% ;

}
.menu_list_foos_select li div{
    margin: auto;
    font-size: 0.75em;
    padding: 7%;
    text-align: center;
}

.menu_list_foos_select li div:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}
.menu_list_foos_select{
    overflow-y: scroll;
    margin: 10%;
    margin-top: 15%;
    margin-bottom: 20%;
}
.go_back{
    position: absolute;
    left: 3vw;
    top: 17vh;
    font-size: 0.7em;
    background-color: transparent;
    border: none;
}
.menu_alergies{
    background-color: #FFF8F4;
    position: absolute;
    width: 20vw;
    height: auto;
    left: 40%;
    top:30%;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0 10px 10px #757676;
}

.menu_alergies h1{
    text-align: center;
    margin-top: 10%;
}
.menu_alergies li{
    list-style: none;
    text-decoration: none;
    margin-top: 5%;
    margin-left: 5%;
}
.menu_alergies img{
    height: 20px;
}
.menu_cerrar_filtro{
    position: absolute;
    top: 3vh;
    right: 2vw;

}
.menu_alergies ul li button{
    background-color: transparent;
    border: none;
}
.filtro{
    position: absolute;
    top:5vw;
    left: 30vh;
    height: 1vh;
    border: none;
    background-color: transparent;
}
.filtro img{
    height: 7vh;
    width: auto;
}

.menu_saber_mas{
    background-color: #E6CDBA;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    cursor: pointer;
    font-size: 0.75em;
    margin: 5%;
    padding:5%;
    height: auto;
    margin-left: 25%;
    margin-top: 10%;
}

.revision_platos{
    height: 60vh;
    overflow-y: scroll;
}
.revision_platos li{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
    background-color: #F6EDE6;
    margin-left: 10vw;
    border-radius: 15px;
    margin-bottom: 2%;
    text-align: center;
}
.revision_platos li img{
    height: 15vh;
    border-radius:15px ;
    margin:10%;
    margin-left: 20%;
}
.revision_platos li div:nth-child(4){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.revision_platos li img:last-child{
    height: 5vh;
    border-radius: 0;

}
.basura{
    background-color: transparent;
    border: none;
}

.revision_final{
    position: absolute;
    height: 60%;
    background-color: #F6EDE6;
    top: 20%;
    right: 5%;
    border-radius: 20px;

}
.revision_button_chek{
    position: absolute;
    left: 40%;
    background-color: #7E4D29;
    color: white;
    border: none;
    border-radius: 10px;
    padding-left: 5%;
    padding-right: 5%;
    bottom: 5%;
}
.revision_Total{
    position: absolute;
    left: 43%;
    bottom: 20%;
    font-size: 1em;
}
.revision_final h1{
    text-align: center;
    margin-top: 5%;
    padding-top:5% ;
}
.revision_list_food_select{
    height: 40vh;
    overflow-y: scroll;
    margin: 5%;
}
.revision_list_food_select li{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    place-content: center;
    text-align: center;
}

.seleccion{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
}
.seleccion div{
    background-color:  #F6EDE6;
    margin: 10%;
    border-radius: 15px ;
    height: 40vh ;
    display: grid;
    place-content: center;
}
.seleccion div button{
    background-color: #7E4D29;
    border-radius: 10px;
    padding: 3%;
    color: white;
    border: none;
    margin: auto;
    margin-bottom: 5%;
    font-size: 0.9em;
    height: 10vh;
}
.seleccion div button p{
    font-size: 0.8em;
}

.direccion_selccion{
    display: grid;
    place-content: center;
    background-color:  #F6EDE6;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    margin: auto;
    padding: 2%;
    gap: 3%;
    border-radius: 15px;
    margin-top: 5%;
}
.direccion_selccion button{
    background-color: #7E4D29;
    border-radius: 10px;
    padding: 3%;
    color: white;
    border: none;
    margin: auto;

}
.direccion_selccion form{
    display: grid;
    place-content: center;
    grid-template-rows: 1fr 1fr;
}
.direccion_selccion form input{
    background-color: transparent;
    border: none;
    border-bottom: 1px black solid ;
    margin-left: 4%;
    height: 50%;
    font-size: 0.8rem;
}
.direccion_selccion p{
    text-align: center;
}

.menu_card_div {
	display: block;
	position: relative;
	margin: auto;
	top: 20%;
	width: 50vw;
	height: 60vh;
	background-color: #F6EDE6;
	border-bottom-left-radius: 80px;
	border-top-right-radius: 80px;
	box-shadow: 0 4px 4px black;
}

.menu_card_div h2 {
	text-align: center;
	font-size: 0.8rem;
    padding-top: 2%;
}

.menu_card_div a {
	margin-left: 40%;
	font-size: 0.8rem;
}

#menu_card_form {
	display: grid;
	grid-gap: 0;
	grid-template-rows: 1fr 0.1fr 1fr 1fr 1fr 1fr 1fr 3fr;
}

.menu_label {
	width: 100%;
	margin-left: 4%;
	height: 50%;
	font-size: 0.8rem;
}

#menu_card_form input {
	background-color: #F6EDE6;
	border: none;
	border-bottom: 1px solid black;
	margin-left: 4%;
	height: 50%;
	font-size: 0.8rem;
}

#menu_card_owner {
	width: 25%;
	margin-left: 10%
}

#menu_card_owner_data {
	line-height: 80%;
}

#menu_card_name {
	width: 40%;
}

#menu_card_surname {
	width: 40%;
}

#menu_card_number {
	width: 50%;
}

#menu_card_date_cvv {
	line-height: 80%;
}

#menu_card_date_cvv_datas {
	line-height: 80%;
}

#menu_card_date_cvv label:last-child {
	margin-left: 13.8%;
}

#menu_card_date {
	width: 40%;
}

#menu_card_cvv {
	width: 40%;
}

#menu_card_payment {
	line-height: 80%;
	margin-top: 5%;
}

#menu_card_price{
	text-align: center;
}

#menu_card_confirm {
	border: none;
	border-radius: 25px;
	background-color: #7E4D29;
	color: white;
	width: 40%;
	height: 70%;
	margin-left: 30%;
	margin-top: 0.5%;
	font-size: 0.95rem;

}
.confirmar_pedido_c{
    position: absolute;
    z-index: 3;
    background-color: #7E4D28;
    width: 50vw;
    height: 40vh;
    top: 30%;
    left: 25%;
    border-radius: 25px;
    box-shadow: 0 4px 4px black;
    display: grid;
    grid-template-rows: 1fr 1fr;
    place-content: center;
}
.confirmar_pedido_c p{
    margin: auto;
    color: white;
    font-size: 0.8em;
}
.confirmar_pedido_c div  {
    display: grid;
    grid-template-columns: 3fr 3fr;
    place-content: center;
    gap: 25%;
    margin: auto;

}
.confirmar_pedido_c div button{
    background-color: #F6EDE6;
    height: 7vh;
    width: 10vw;
    border: none;
    border-radius: 15px;
    margin: auto;
}


.confirmar_pedido_efectivo_c{
    position: absolute;
    z-index: 3;
    background-color: #7E4D28;
    width: 50vw;
    height: 40vh;
    top: 30%;
    left: 25%;
    border-radius: 25px;
    box-shadow: 0 4px 4px black;
    display: grid;
    grid-template-rows: 1fr 1fr;
    place-content: center;
}
.confirmar_pedido_efectivo_c p{
    margin: auto;
    color: white;
    font-size: 0.8em;
}
.confirmar_pedido_efectivo_c div  {
    display: grid;
    grid-template-columns: 3fr 3fr;
    place-content: center;
    gap: 25%;
    margin: auto;
}
.confirmar_pedido_efectivo_c div button{
    background-color: #F6EDE6;
    height: 7vh;
    width: 10vw;
    border: none;
    border-radius: 15px;
    margin: auto;
}
.espera{
    display: grid;
    place-content: center;
    text-align: center;
    grid-template-rows: 1fr 1fr 1fr;
}
.menu_label_oculto{
    color: transparent;
    height: 0;
}

@media screen and (max-width: 768px) {
    .progess_bar_button{
        gap: 0;
    }
    .progess_bar_line_ordenador{
        display: none;

    }
    .progess_bar_line_tablet{
        display: block;
    }
    .progess_bar_line_movil{
        display: none;
    }
    .menu_alergies{
        width: 40vw;
        left: 30%;
    }

    .menu_saber_mas{
        margin-left: 30%;
    }
    .menu_cerrar_filtro{
        right: 3vw;
        top: 3vh;
    }
    .menu_cart_open{
        width: 70%;
    }

    .menu_choose button img{
        height: 40%;
    }
    .menu_dish{
        grid-template-columns: repeat(2, 1fr);
    }
    .revision_platos{
        height: auto;

    }
    .revision_final{
        position: relative;
        place-items: center;
        margin: auto;
        top: 0;
        margin-left: 11vw;
    }
    .revision_list_food_select {
        height: auto;
    }
    .revision_platos li img{
        height: 13vh;
    }
    .seleccion{
        display: inline;
        grid-template-rows: 1fr 1fr;
    }
    .seleccion div{
        height: 20vh;
    }
    .menu_cuantity{
        right: 5%;
    }
    .filtro{
        top:7vw;
        left: 7vh;
        height: 1vh;
    }
    .filtro img{
        height: 7vh;
        width: auto;
    }

}

@media screen and (max-width: 600px) {
    .progess_bar {
        width: 70vw;
        height: 15vh;
    }
    .progess_bar_button{
        margin-top:  5%;
        font-size: 0.8em;
        gap:0;
    }
    .progess_bar_line{
        width: 67vw;
        margin-left: 2%;
    }
    .progess_bar_line_ordenador{
        display: none;

    }
    .progess_bar_line_tablet{
        display: none;
    }
    .progess_bar_line_movil{
        display: block;
    }
    .menu_alergies{
        width: 40vw;
        left: 30%;
    }

    .menu_saber_mas{
        margin-left: 30%;
    }

    .menu_cart_open{
        width: 80%;
    }
    .menu_choose{
        width: 60vw;
    }
    .menu_choose button{
        height: 13.5vh;
        width: 13.5vh;
        border-radius: 25px;
    }
    .menu_choose button img{
        height: 35%;

    }
    .menu_cuantity{
        right: 3%;

    }
    .menu_dish{
        grid-template-columns: repeat(1, 1fr);
        width: 70%;
    }
    .elem_img{
        width: 40%;
    }
    .titulo{
        font-size: 0.65em;
    }
    .revision_platos{
        height: auto;
        width: 80vw;
        margin-left: 5vw;

    }
    .revision_platos li img{
        height: 10vh;

    }
    .revision_platos li  div:nth-child(2){
        font-size: 0.8em;
    }
    .revision_platos li  div:nth-child(3){
        font-size: 0.8em;
    }
    .revision_platos li  div:nth-child(4){
        font-size: 0.8em;
        grid-template-columns: 0.8fr 0.8fr 0.8fr;
    }
    .revision_final{
        position: relative;
        place-items: center;
        margin: auto;
        top: 0;
        width: 80vw;
        margin-left: 15vw;
    }
    .revision_final ul{
        height: auto;
    }
    .revision_list_food_select{
        height: auto;
    }
    .seleccion{

        grid-template-rows: 1fr 1fr;
    }
    .seleccion div{
        height: 20vh;
    }
    .direccion_selccion{
        padding: 5%;
        width: 80vw;
    }
    .menu_card_div{
        width: 90vw;
    }
    .cesta{
        width: 8%;
        height: 8%;
        top:11%
    }
    .filtro{
        top:10vw;
        left: 5vh;
        height: 1vh;
    }
    .filtro img{
        height: 5vh;
        width: auto;
    }

}