/* Barra de progreso */
.progess_bar{
    height: 15vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: auto;
    margin-top: 6vh;
    background-color:#FFFBF8;
    place-content: center;

}
.progess_bar_button{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 5%;

}
.progess_bar button{
    background-color: transparent;
    border: none;
    font-size: 0.9em;
    text-align: center;
}
.progess_bar_line{
    height: 30%;
    background: #E6CDBA;
    border-radius: 30px;
}
.progess_bar_line2{
    height: 30%;
    background: #7E4D29;
    border-radius: 30px;
    z-index: 2;
}

.menu_top{
    height: 25vh;
}
.menu_button{
    height: 70vh;
}

.menu_choose{
    margin: auto;
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5%;
}
.menu_choose button{
    border-radius: 30px;
    height: 17vh;
    width: 17vh;
    background-color: transparent;
    border: none;
    margin-top: 10%;
    font-size: 0.8em;

}

/* Cambiar al js*/
.menu_choose button:first-child{
    background-color:#E6CDBA;
}

.menu_dish{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5vw;
    row-gap: 5vh;
    margin: 1vh auto;
}

/*Formato de cada plato*/
.elemento{
    text-align: center;
    background-color: #F6EDE6;
    padding: 5%;
    box-shadow: 0 50px 50px #757676;
    letter-spacing: 1px;
    border-radius: 30px;
    height: auto;
}
.elemento img {
    float: left;
    width: 45%;
    object-fit: cover;
    border-radius: 15px;
    margin-top: 4vh;
}
.menu_elemt_right{
    float:right ;
    width: 50%;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 2fr;
}

.titulo{
    font-weight: 600;
    font-size: 0.75em;
    text-align: center;
    padding: 1%;
    margin: auto;
}
.precio{
    font-size: 0.75em;
    text-align: center;
}
.menu_menos{
    background-color: transparent;
    color: black;
    border: #E6CDBA solid 2px;
    border-radius:  50px;
    font-size: 0.75em;
    height: 30px;
    width: 30px;
}
.menu_mas{
    background-color: transparent;
    color: black;
    border:  #E6CDBA solid 2px;
    border-radius:50px;
    font-size: 0.75em;
    height: 30px;
    width: 30px;
}
.menu_cantidad{
    font-size: 0.75em;
    margin: auto;
}

.menu_saber_mas{
    background-color: #E6CDBA;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    cursor: pointer;
    font-size: 0.75em;
    margin: auto;
    padding:5%;
    height: auto;
}

.elemento button:hover{
    color:black;
    border: #E6CDBA solid 2px;
    background-color: transparent;
}

.menu_selcion_cantidad{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: auto;
}

.cesta{
    position: absolute;
    top: 10%;
    right: 5%;
    width: 10%;
    height: 10%;
}
.menu_cuantity{
    position: absolute;
    top: 10%;
    right: 7%;
    width: 25px;
    height: 25px;
    background-color: #7E4D29;
    border-radius: 50px;
    color: white;
    text-align: center;
}
.menu_cart_open{
    position: absolute;
    z-index: 3;
    width: 30%;
    height: 80%;
    background-color: #F6EDE6;
    top: 10%;
    right: 5%;
    border-radius: 20px;
}
.menu_cart_open ul{
    height: 60%;
}
.menu_cerrar_compra{
    position: absolute;
    top: 5%;
    right: 8%;
}
.menu_button_chek{
    position: absolute;
    left: 30%;
    bottom: 10%;
    background-color: #7E4D29;
    color: white;
    border: none;
    border-radius: 10px;
    padding-left: 5%;
    padding-right: 5%;
}
.menu_Total{
    position: absolute;
    left: 37%;
    bottom: 20%;
}
.menu_list_foos_select li {
    display: grid;
    grid-template-columns: 2fr 1fr  2fr;
    margin: 2%;
    background-color: #FFFBF8 ;
    border-radius: 15px;

    gap: 5% ;

}
.menu_list_foos_select li div{
    margin: auto;
    font-size: 0.75em;
    padding: 7%;
    text-align: center;
}

.menu_list_foos_select li div:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}
.menu_list_foos_select{
    overflow-y: scroll;
    margin: 10%;
    margin-top: 15%;
    margin-bottom: 20%;
}
.menu_go_back{
    position: absolute;
    left: 3vw;
}
.menu_alergies{
    background-color: #FFF8F4;
    position: absolute;
    width: 15%;
    height: 50%;
    left: 1%;
    z-index: 2;

}
.menu_alergies h1{
    text-align: center;
    margin-top: 10%;
}
.menu_alergies li{
    text-align: center;
}

.revision_platos li{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
    background-color: #F6EDE6;
    margin-left: 10vw;
    border-radius: 15px;
    margin-bottom: 2%;
}
.revision_platos li img{
    height: 15vh;

}
.revision_platos li div:nth-child(4){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}
.revision_platos li img:last-child{
    height: 5vh;

}
.revision_go_back{
    position: absolute;
    left: 3vw;
}
.revision_final{
    position: absolute;
    z-index: 3;

    height: 60%;
    background-color: #F6EDE6;
    top: 20%;
    right: 5%;
    border-radius: 20px;

}
.revision_button_chek{
    position: absolute;
    left: 40%;
    background-color: #7E4D29;
    color: white;
    border: none;
    border-radius: 10px;
    padding-left: 5%;
    padding-right: 5%;
    bottom: 5%;
}
.revision_Total{
    position: absolute;
    left: 41%;
    bottom: 20%;
}
.revision_final h1{
    text-align: center;
    margin-top: 5%;
}
.revision_final ul{
    height: 50%;
    margin: 5%;
}
.revision_list_food_select li{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}