* {
	overflow: hidden;
}

.repostery_circle {
	border-radius: 100%;
	width: 28vw;
	height: 28vw;
	background-color: #F2EAE3;
	position: absolute;
	display: flex;
	align-items: center;
}

.repostery_circle p {
	position: relative;
	text-align: center;
	font-size: 0.8rem;
	height: 100%;
	width: 100%;
	padding: 10%;
	padding-top: 25%;
}

#text_1 {
	top: 0%;
	left: 5%;
	width: 32vw;
	height: 32vw;
	z-index: 1; 
}

#text_2 {
	top: 40%;
	right: 20%;
	width: 32vw;
	height: 32vw;
	z-index: 1;
}

#image_1 {
	background-image: url("../images/subpags/pan.jpeg");
	background-size: 135% 100%;
	top: 5%;
	right: 30%;
	z-index: 0;
}

#image_2 {
	background-image: url("../images/subpags/galleta.jpeg");
	background-size: 130% 100%;
	top: 47%;
	left: 20%;
	z-index: 0;
}

#title_1 {
	background-color: #7E4D29;
	text-align: center;
	top: 6%;
	right: 6%;
	z-index: 1;
	width: 16vw;
	height: 16vw;
	color: white;
}

h1 {
	margin: auto
}

@media screen and (max-width: 768px) {
	#title_1 {
		top: -5%;
		right: 5%;
		width: 30vw;
		height: 30vw;
	}
	
	#image_1 {
		height: 40vw;
		width: 40vw;
		top: 25%;
		right:10%;
	}
	 
	#image_2 {
		height: 35vw;
		width: 35vw;
		top: 60%;
		left:0%;
	}
	
	.repostery_circle p{
		font-size: 0.75rem;
	}	
	
	#text_1 {
		top: 5%;
		width: 55vw;
		height: 55vw;
	}
	
	#text_2 {
		top: 50%;
		width: 50vw;
		height: 50vw;
	}
}

@media screen and (max-width: 600px) {
	body {
		background-image: url("../images/menu/Reposteria6.jpg");
		background-size: 110%;
	}
	
	#title_1 {
		top: -2.5%;
		right: -3%;
	}
	
	#title_1 h1{
		font-size: 0.75rem;
	}
	
	.repostery_circle p {
		font-size: 0.65rem;
	}
	
	#text_1 {
		top: 5%;
		left: 16%;
		width: 50vh;
		height: 50vh;
	}
	#text_2 {
		left: 16%;
		top: 50%;
		width: 50vh;
		height: 50vh;
	}
	
	#image_1, #image_2{
		display: none;
	}
	
	
}
